<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ScopeSimulator.Properties.Settings.ScopeSimulatorConnectionString"
      connectionString="Data Source=WINXPVM\SQLEXPRESS;Initial Catalog=ScopeSimulator;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>